@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
}
body{
  background:#F5F5F5 ;
  width: 100%;
  height: 100%;
}

/*Header*/

header{
  height: 100px;

  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .left{
  width: calc(100% - 175px);
  height: 100%;
  display: flex;
  padding-left:50px;
  gap: 40px;
  align-items: center;

}

header .left  .logo{
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .left  input {
  width: 288px;
  height: 31px;
  background: #D9D9D9;
  text-indent: 36px;
  outline: none;
}

header .left .links{
  display: flex;
  gap: 24px;
  height: 100%;
  align-items: center;
}
header .left .links a{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;

}

header .right{
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  padding: 20px;

}
header .right a{
  text-decoration: none;
  color: #000000;
}



/*********************  Home Page Start  *********************/



/* Coverr */

main{
  width: 100%;
  height: 609px;
  background: linear-gradient(180deg, #E7F7FF 0%, #FFFFFF 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 110px;
}

main .left{
  height: 404px;
  display: flex;
  flex-direction: column;
  width: 526px;
}

main .left text h2{
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #111827;
}

main .left .text h2 span{
  color: #0065E0;
}
main .left .text p{
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #6B7280;
}


main .left form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-top: 22px;
  position: relative;

}

main .left form input[type="text"]{
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  outline: none;
  text-indent: 42px;
  height: 44px;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

main .left form input[type="text"]:placeholder-shown{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #CECECE;
}

main .left form input[type="text"] + span{
  height: 44px;
  display: flex;
  align-items: center;
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #7A7A7A;
  right: 16px;
  top: 0px;


}


main .left form  .img{

  height: 44px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 11px;
  top: 0px;

}main .left form  .img-text{

   height: 44px;
   display: flex;
   align-items: center;
   position: absolute;
   left: 11px;
   top: 62px;

 }



main .left form  img{

  width: 18px !important;
  height: 18px !important;


}


main .left form textarea{
  width: 100%;
  height: 111px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 15px 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

main .left form textarea:placeholder-shown{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #CECECE;
}

main .left form  input[type="submit"]{
  background: #0065E0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  cursor: pointer;
}

main .left form  input[type="submit"]:hover{
  background: #054da5;

}




/*Sections*/

section{
  padding: 56px 100px;
  background: #F5F5F5;
  display: flex;
  flex-direction: column;
  gap: 60px;
}



/*Themes*/

section  article.themes {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

}

section  article.themes h5{
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}


section  article.themes .tags{
  width: 100%;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

}

section  article.themes .tags .tag{
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  padding: 10px 22px;
  cursor: pointer;
  text-decoration: none;
}


section  article.themes .tags .tag:hover{
  background: #f3f3f3;

}


/*Final questions*/

section  article.final-questions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;


}

section  article.final-questions h5{
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

section  article.final-questions .question-carts{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 14px;

}

section  article.final-questions .question-carts .question-cart{

  background: #FFFFFF;
  border-radius: 10px;
  width: 49%;
  padding: 9px 25px 15px 25px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

section  article.final-questions .question-carts .question-cart .author{
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #A2A2A2;
}
section  article.final-questions .question-carts .question-cart a{
  text-decoration: none;

}
section  article.final-questions .question-carts .question-cart a.body h4{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

section  article.final-questions .question-carts .question-cart .body p{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;

}

section  article.final-questions .question-carts .question-cart  .footer{
  display: flex;
  gap: 29px;
  width: 100%;
  align-items: center;
}

section  article.final-questions .question-carts .question-cart .footer span{
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */


  color: #9A9A9A;
}



/*Popular doctors section*/

section  article.popular-doctors{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

}


section  article.popular-doctors h5{
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}


/*Popular doctors slide*/
.slide-container{
  max-width: 100%;
  width: 100%;
  padding: 0 0 40px 0;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 10px;
}
.card{
  border-radius: 10px;
  background-color: #FFF;
  text-decoration: none;
  height: 213px;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 12px 0;
}
.card-footer{
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin-top: 10px;
  padding: 10px 12px;
}
.card-footer span{
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #BDBDBD;
}
.card-image{
  position: relative;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;

}
.name{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.description{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #7D7D7D;
}
.swiper-navBtn{
  color: #D9D9D9;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #aeacac;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0px;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #D9D9D9;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #999797;
}

/*********************  Home Page End  *********************/





/*********************  Category Page Start  *********************/

.health-description{
  width: 100%;
  background: #fff;
  margin-top: 10px;
  padding: 37px 63px;
  margin-bottom: 33px;
}
.health-description h2{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.health-description p{
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}


section.category-body{
  width: 100%;
  padding: 0 36px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-bottom: 50px;

}

section.category-body section.category-main{
  width: calc(100% - 400px);
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: flex-start;
  background: #F5F5F5;
  padding: 0;



}

section.category-body section.category-main .send-question{
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 8px;
  height: 50px;


}

section.category-body section.category-main .send-question  input{

  width: 100%;
  height: 100%;
  background: #EDEDED;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #A7A7A7;
  text-decoration: none;
  text-indent: 24px;
  border-radius: 5px;
}



section.category-body section.category-main a{
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
  width: 100%;
  justify-content: space-between;
  gap: 13px;
}

section.category-body section.category-main a span{
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #A2A2A2;
}
section.category-body section.category-main a .article-content{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

section.category-body section.category-main a .article-content h3{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
section.category-body section.category-main a .article-content p{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}


section.category-body  section.category-main .main-pagination{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 7px;
}
section.category-body  section.category-main .main-pagination a{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  border-radius: 0;
  padding: 8px;

}
section.category-body  section.category-main .main-pagination a.active{
  background: #a2a2a2;
  color: #fff;
}


section.category-body aside{
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
section.category-body aside section.categories {
  width: 100%;
  background: #fff;
  border: 10px;
  padding:13px 45px ;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
section.category-body aside section.categories hr{
  border-top: 1px solid #C9C9C9;

}
section.category-body aside section.categories h5{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
section.category-body aside section.categories ul li{
  list-style-type: none;
  margin: 10px 0;

}
section.category-body aside section.categories ul li.active{
  padding-left: 15px;


}
section.category-body aside section.categories ul li.active a{
  font-weight: 500;
  color: #0152B1;
}
section.category-body aside section.categories ul li.active a::before{
  content: ">";
}
section.category-body aside section.categories ul li a{
  color: #000;

}
section.category-body aside section.banner{
  width: 100%;
  height: 229px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.category-body aside section.banner h3{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;

}

section.category-body aside section.doctors-of-category {
  width: 100%;
  background: #fff;
  border: 10px;
  padding:13px 45px ;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
section.category-body aside section.doctors-of-category hr{
  border-top: 1px solid #C9C9C9;

}
section.category-body aside section.doctors-of-category h5{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
section.category-body aside section.doctors-of-category  .doctors-lists{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
section.category-body aside section.doctors-of-category  .doctors-lists a.doctor-item{
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  gap: 10px;
}

section.category-body aside section.doctors-of-category  .doctors-lists a.doctor-item img.doctor-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;

}

section.category-body aside section.doctors-of-category  .doctors-lists a.doctor-item .doctor-description {
  display: flex;
  flex-direction: column;

}

section.category-body aside section.doctors-of-category  .doctors-lists a.doctor-item .doctor-description h5 {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

section.category-body aside section.doctors-of-category  .doctors-lists a.doctor-item .doctor-description span {
  font-size: 14px;
  font-weight: 400;
  color: #A2A2A2;
}

section.category-body aside section.doctors-of-category  .doctors-lists a.doctor-item  span.like-count {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #000000;
  margin-left: 40px;

}
#tag-result{
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  color: #000000;
  margin-bottom: 16px;
}

/*********************  Category Page End  *********************/





/*********************  Login Page Start  *********************/

.login-body{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 34px;
  justify-content: center;
  margin: 70px 0;
}
.login-body section {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 55px;
  width: 586px;


}
.login-body section form {
  width: 100%;
  display: flex;
  flex-direction: column;

}
.login-body section form h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 46px;
  color: #000000;

}

.login-body section form input {
  background: #D9D9D9;
  width: 100%;
  height: 57px;
  color: #000;
  text-indent: 38px;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;

}
.login-body section form input:placeholder-shown{
  color: #000;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;

}

.login-body section a{

  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #000000;

}
/*********************  Login Page End  *********************/




/*********************  Register Page Start  *********************/
section.after-question{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 70px;
}

section.after-question .information h2{
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  color: #000000;

}
section.after-question .information p{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: #000000;

}

section.after-question .register{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px;

}

section.after-question .left,section.after-question .right{
  border-radius: 10px;
  background: #D9D9D9;
}

section.after-question .left{
  width: calc(100% - 370px);

  display: flex;
  flex-direction: column;
  padding: 56px;
}
section.after-question .right{
  width: 370px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
section.after-question .right {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  color: #000000;

}

section.after-question .left .top{
  width: 100%;
  display: flex;
  gap: 100px;
  margin-bottom: 55px;

}

section.after-question .left .top a{
  font-weight: 400;
  font-size: 2vW;

  line-height: 40px;
  color: #000000;

}

section.after-question .left .top a.active{
  border-bottom: 3px solid #000;
}

section.after-question .left form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

section.after-question .left form input{
  width: 100%;
  height: 57px;
  color: #000;
  text-indent: 27px;
  font-size: 2vH;
  line-height: 40px;

}

section.after-question .left form input:placeholder-shown{

  color: #000;
  text-indent: 27px;
  font-size: 2vH;
  line-height: 40px;

}
section.after-question .left form select{
  width: 100%;
  height: 57px;
  font-size: 2vH;
  line-height: 40px;
  padding:0 27px;

}
section.after-question .left input[type="submit"]{
  background: #2EE700;
  color: #fff;
  height: 70px;
  cursor: pointer;
}



/*********************  Register Page End  *********************/



/*********************  Question Detail Page Start  *********************/
section.category-body aside a.new-send-question{
  background: #00D115;
  border-radius: 10px;
  height: 83px;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.category-body aside a.new-send-question:hover{
  background: #02c115;

}
section.category-body aside a.general-health{
  height: 83px;
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 23px;
  color: #000;
}
section.category-body aside a.general-health:hover{
  background: #dadada;


}


section.category-body aside a.general-health .left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section.category-body aside a.general-health .left h3{
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #000000;
}
section.category-body aside a.general-health .left p{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #000000;

}
section.category-body aside a.general-health .right {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: center;

  color: #000000;

}
section.category-body aside section.doctors-of-category a.show-all{
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #D9D9D9;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #000000;

}
section.category-body aside section.doctors-of-category a.show-all:hover{
  background: #eae9e9;

}

section.category-body aside section.similiar-questions {
  width: 100%;
  background: #fff;
  border: 10px;
  padding:13px 45px ;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
section.category-body aside section.similiar-questions hr{
  border-top: 1px solid #C9C9C9;

}
section.category-body aside section.similiar-questions h5{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
section.category-body aside section.similiar-questions .similiar-questions-lists{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section.category-body aside section.similiar-questions .similiar-questions-lists a{
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}
section.category-body aside section.similiar-questions .similiar-questions-lists a span.count-answer{
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #2B2B2B;
  display: inline;
  background: #D0FFBA;
  border-radius: 10px;
 padding: 2px 10px;


}



section.category-body section.question-detail{
width: calc(100% - 400px);

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 12px 20px 12px 26px;
  gap: 0;

}


section.category-body section.question-detail section.question{
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 20px 12px 26px;

}

section.category-body section.question-detail section.question .top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
section.category-body section.question-detail section.question .top .left{
  display: flex;
  gap: 13px;
  width: 30%;
  align-items: center;
}
section.category-body section.question-detail section.question .top .left .user-profile-photo{
  width: 36px;
  height: 36px;
  border-radius: 50%;
background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}
section.category-body section.question-detail section.question .top .left span {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #A2A2A2;
}


section.category-body section.question-detail section.question .top .right{
  display: flex;
  width: 70%;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;

}
section.category-body section.question-detail section.question .top .right span{
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #BDBDBD;


}

section.category-body section.question-detail section.question .body{
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding-left: 50px;

}
section.category-body section.question-detail section.question .body h3{
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  color: #000000;

}

section.category-body section.question-detail section.question .body p{
  font-weight: 400;
  line-height: 15px;

  color: #000000;

}

section.category-body section.question-detail section.question .bottom{
  width: 100%;
  display: flex;
  padding-left: 50px;
  align-items: center;
  gap: 10px;
}

section.category-body section.question-detail section.question .bottom span{
  color: #535353;
  font-weight: 400;

  line-height: 13px;

}

section.category-body section.question-detail section.question .bottom a{
color: #0258FF;
 }

section.category-body section.question-detail section.question .bottom a:hover{
  text-decoration: underline;
}


section.category-body section.question-detail section.comments{
  width: 100%;
  background:#fff;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 12px 20px 12px 26px;

}
section.category-body section.question-detail section.comments .comment-item{
  width: 100%;
  border-top: 1px solid #E8E8E8;
   padding: 18px 12px 12px 0;
display: flex;
  justify-content: space-between;
gap: 13px;
align-items: center;
}
section.category-body section.question-detail section.comments .comment-item div{



  display: flex;
  gap: 13px;

}

section.category-body section.question-detail section.comments .comment-item .left .user-profile-photo{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;


}


section.category-body section.question-detail section.comments .comment-item .center{
  display: flex;
  flex-direction: column;
  gap: 10px;

}
section.category-body section.question-detail section.comments .comment-item .center .top{
  display: flex;
  gap: 6px;

  align-items: center;
}
section.category-body section.question-detail section.comments .comment-item .center .top .doctor-name{
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #2B2B2B;

  background: #D0FFBA;
  border-radius: 10px;
  padding: 2px 10px;

}

section.category-body section.question-detail section.comments .comment-item .center .top .doctor-branch{
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #2B2B2B;

  background: #FFBAEC;
  border-radius: 10px;
  padding: 2px 10px;

}

section.category-body section.question-detail section.comments .comment-item .center .top .user-name-branch{
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  /* identical to box height */


  color: #A2A2A2;

}
section.category-body section.question-detail section.comments .comment-item .center .center p{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */


  color: #000000;

}

section.category-body section.question-detail section.comments .comment-item .center .bottom span.when-added{
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #9A9A9A;
}



section.category-body section.question-detail section.comments .comment-item .right a{
  width: 60px;
  height: 51px;
 display: flex;
padding: 8px 15px;
  background: #D9D9D9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.category-body section.question-detail section.comments .comment-item .right a:hover{

  background: #bababa;

}

section.category-body section.question-detail section.comments .comment-item .right a span.center{
  display: flex;
  flex-direction: row;
  align-items: center;
}
section.category-body section.question-detail section.comments .comment-item .right a span.center span{
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #000000;
}

section.category-body section.question-detail section.comments .comment-item .right a span.like-answer{
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  /* identical to box height */

  text-align: center;
width: 60px;
  display: inline-block;
  color: #000000;
}
section.category-body section.question-detail section.reply{
  width: 100%;
  background:#Fff;
  border-radius: 10px;
  padding: 20px 37px 40px 37px;
  display: flex;
  gap: 26px;
  flex-direction: column;
margin-top: 20px;
}

section.category-body section.question-detail section.reply h5{
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  /* identical to box height */


  color: #000000;

}

section.category-body section.question-detail section.reply .buttons-body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F9F9F9;
  border: 1px dashed #C90000;
  gap: 16px;
  padding: 26px 0;


}

section.category-body section.question-detail section.reply .buttons-body .title{
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  /* identical to box height */


  color: #000000;

 }
section.category-body section.question-detail section.reply .buttons-body .buttons{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
section.category-body section.question-detail section.reply .buttons-body .buttons a{
  background: #D9D9D9;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  /* identical to box height */


  color: #000000;

  padding: 7px 23px;


}

section.category-body section.question-detail section.reply .buttons-body .buttons a:hover{
  background: #b9b6b6;
}

  /*********************  Question Detail Page End  *********************/






/*Footer */
footer{
  width: 100%;
  height: 246px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}
footer h2{
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  color: #000000;

}






/*Responsive*/
@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }

  .swiper-navBtn{
    display: none;
  }


  section.category-body{
    width: 100%;
    padding: 0 36px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 50px;

  }

  section.category-body section.category-main{
    width: 100%;




  }
  section.category-body aside{
    width: 100%;

  }
  .login-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 34px;
    justify-content: center !important;
    padding: 24px;

  }

  .login-body section {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 24px;
    width: 100%;


  }
}
@media  only screen and (max-width:992px){
  main{
    padding: 12px;
    height: 500px;
  }
  main .right{
    display: none;
  }

  header .left .links,header .left input{
    display: none;

  }

  section.after-question .register{
    display: flex;
    width: 100%;
    flex-direction: column;

    gap: 16px;

  }
  section.after-question .left{
    width: 100%;

  }
  section.after-question .right{
    width: 100%;
  }
  section.after-question{

    padding: 20px;
  }

  section.after-question .left .top a{
    font-weight: 400;
    font-size: 3.5vW;

    line-height: 40px;
    color: #000000;

  }
  section{
    padding: 56px 12px;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  section  article.final-questions .question-carts .question-cart{

    background: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    padding: 9px 25px 15px 25px;
    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  .login-body{

    padding: 24px;

  }
}



